{% include './header.html' %} 
            <!-- HEADER DESKTOP-->
            <div class="main-content">
              <div class="section__content section__content--p30">
                <div class="container-fluid">
                  <div class="row justify-content-center">
                    <div class="col-lg-8">
                      <div class="card">
                        <div class="card-header text-center">MEW Devices Entry</div>
                        <div class="card-body card-block">
                          <form action="{% url 'addswitch' %}" method="post"class="">
                            {% csrf_token %}
                            <div class="form-group">
                              <div class="input-group">
                                <input type="text" id="ipaddress" name="ipaddress" placeholder="Enter IP Address" class="form-control">
                                <div class="input-group-addon">
                                  <i class="fa fa-user"></i>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <input type="email" id="email2" name="email2" placeholder="Email" class="form-control">
                                <div class="input-group-addon">
                                  <i class="fa fa-envelope"></i>
                                </div>
                              </div>
                            </div>
                            <div class="form-group">
                              <div class="input-group">
                                <input type="password" id="password2" name="password2" placeholder="Password" class="form-control">
                                <div class="input-group-addon">
                                  <i class="fa fa-asterisk"></i>
                                </div>
                              </div>
                            </div>
                            <div class="form-actions form-group">
                              <button type="submit" class="btn btn-secondary btn-sm">Submit</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- MAIN CONTENT-->

            {% include './footer.html' %} 