
{% include './header.html' %} 

<div>
<div class="container">
  <div  class="container-fluid">
<div class="row">
  <div class="col-md-8">
      <!-- DATA TABLE -->
      <h3 class="title-5 m-b-35">data table</h3>
      <div class="table-data__tool">
          
          <div class="table-data__tool-right">
              <button class="au-btn au-btn-icon au-btn--green au-btn--small">
                  <i class="zmdi zmdi-plus"></i>add item</button>
              <div class="rs-select2--dark rs-select2--sm rs-select2--dark2">
                  <select class="js-select2" name="type">
                      <option selected="selected">Export</option>
                      <option value="">Option 1</option>
                      <option value="">Option 2</option>
                  </select>
                  <div class="dropDownSelect2"></div>
              </div>
          </div>
      </div>
      <div class="table-responsive table-responsive-data2">
          <table class="table table-data2">
              <thead>
                  <tr>
                      <th>
                          <label class="au-checkbox">
                              <input type="checkbox">
                              <span class="au-checkmark"></span>
                          </label>
                      </th>
                      <th>ID</th>
                      <th>IP Address</th>
                      <th>description</th>
                      <th></th>
                  </tr>
              </thead>
              <tbody>{% for sw in online_switches %}
                <li>{{ user.name }} ({{ user.email }})</li>
           
                  <tr class="tr-shadow">
                      <td>
                          <label class="au-checkbox">
                              <input type="checkbox">
                              <span class="au-checkmark"></span>
                          </label>
                      </td>
                      <td>
                          <span class="block-email">{{ sw.id }}</span>
                      </td>
                      <td class="desc">{{ sw.ip_address }}</td>
                      <td class="desc">{{ sw.name }}</td>
                                            <td>
                          <div class="table-data-feature">
                            
                              <button class="item" data-toggle="tooltip" data-placement="top" title="Edit">
                                  <i class="zmdi zmdi-edit"></i>
                              </button>
                              <button class="item" data-toggle="tooltip" data-placement="top" title="Delete">
                                  <i class="zmdi zmdi-delete"></i>
                              </button>
                              <button class="item" data-toggle="tooltip" data-placement="top" title="offline">
                                <i class="zmdi zmdi-mood"></i>
                            </button>

                              
                          </div>
                      </td>
                  </tr>
                  
                  {% endfor %}
              </tbody>
          </table>
      </div>
      <!-- END DATA TABLE -->
  </div>
</div>
</div></div>
{% include './footer.html' %} 